[user]
	name = Bill Hurt
	email = hurt.bill@gmail.com
	signingkey = AFC441851615564C
[core]
	editor = \"C:\\Users\\Bill Hurt\\AppData\\Local\\Programs\\Microsoft VS Code Insiders\\Code - Insiders.exe\" --wait
	ignorecase = false
	autocrlf = true
	excludesfile = C:\\Users\\Bill Hurt\\.gitignore
[push]
	default = simple
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\gnupg\\bin\\gpg.exe
[hub]
	protocol = ssh
# [format]
# 	pretty = format:%C(yellow)%h%C(reset) %<(50,trunc)%s %C(green)%aN%C(reset) %C(blue)%ad%C(reset) %C(blue)%cr%C(reset)
[alias]
	graph = log --graph --pretty=format:'%C(yellow)%h%C(reset) - %C(green)%an%C(reset) %C(blue)(%cr)%C(reset) %C(red)%d%C(reset)%n          %s%n'
	amend = commit --amend --no-edit
	ass = add
	branchname = rev-parse --abbrev-ref HEAD
	checkignored = ls-files --ignored --exclude-standard
	lt = log --pretty=format:'%C(yellow)%h%C(reset) - %<(50,trunc)%s %<(20,trunc)%C(green)%an%C(reset) %C(bold cyan)%ad%C(reset) %C(blue)(%cr)%C(reset) %C(red)%d%C(reset)'
[credential]
	modalPrompt = false
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code-insiders --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code-insiders --wait $MERGED
[mergetool "bc"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
[difftool "bc"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	date = short-local
